body{
  background: url(Registerbg.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: relative;
	width: 50%;
	height: 50%;
	min-height: 50px;
	display: table;
	position:relative;
	text-align:left;
	margin-right: 100px;
	padding-left: 0px;
	padding-right: 20px;
  
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  
}
.container h1, p, psw{
  color: dodgerblue;
}
b{
  color:dodgerblue;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius:25px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: dodgerblue;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius:25px;
}

.registerbtn:hover {
  opacity:50;
  color:sandybrown;


/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: left;
  border-radius: 25px;
}
  img-background{
    opacity:0.5;
  }